.textDetail {
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 1.25rem;
}

.textDetail::first-letter {
  text-transform: capitalize;
}

@media (max-width: 1376px) {
  .textDetail {
    font-size: 0.75rem;
  }
}
