.textTitle {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--orange);
}

.textTitle {
  text-transform: capitalize;
}

@media (max-width: 1376px) {
  .textTitle {
    font-size: 0.7rem;
  }
}
