.skills {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.skillsContent {
  flex-grow: 0;
  flex-shrink: 1;
  width: 80%;
  height: 45%;
}

.section {
  width: 650px;
}

.imageSection {
  width: 576px;
  overflow: auto;
}

.imageOne {
  width: 150px;
  height: 50px;
}

.imageTwo {
  width: 175px;
  height: 75px;
}
